<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WEATHER APP</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>    
    <script>const apiKey = '<%= process.env.API_ID %>'; </script>
  </head>
  <body>
    <div class="container">
      <div class="title"><h1>Weather App</h1></div>
      <div class="header">
        <input id="input" class="search" type="text" placeholder="Search by name or zip code" />
        <button id="button" type="button" onclick="findWeather(), findForecast()"></button>
        <div class="error"></div>
      </div>
      <div class="topContainer">
        <div class="name">
            <span class="city"></span>, <span class="country"></span>
        </div>
        <div class="time">
            <span class="hour"></span><span class="ampm"></span>
        </div>
      </div>

      <div class="midContainer">
          <div class="temperature">
            <img class="icon"/>
            <span class="temp"></span>
            <span class="deg">&#8457;</span>
          </div>
          <div class="details">
              <span class="description"></span>
              <span class="humidity"></span>
              <span class="wind"></span>
          </div>
      </div>

      <h3>24 Hour Forecast</h3>
      <div class="forecast">
            <div class="hour-container">
               <div class="hour-time hour-one-time"></div>
               <div class="hour-temp hour-one"></div>
            </div>
            <div class="hour-container">
                <div class="hour-time hour-two-time"></div>
                <div class="hour-temp hour-two"></div>
            </div>
            <div class="hour-container">
                <div class="hour-time hour-three-time"></div>
                <div class="hour-temp hour-three"></div>
            </div>
            <div class="hour-container">
                <div class="hour-time hour-four-time"></div>
                <div class="hour-temp hour-four"></div>
            </div>
            <div class="hour-container">
                <div class="hour-time hour-five-time"></div>
                <div class="hour-temp hour-five"></div>
            </div>
            <div class="hour-container">
                <div class="hour-time hour-six-time"></div>
                <div class="hour-temp hour-six"></div>
            </div>
            </div>
      </div>
    </div>
    <script src="weather.js"></script>
  </body>
</html>