* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: url("./img/clear.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/*----------------------------------------------------------*/

.left {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 6px #000000;
}

.leftContainer {
  height: 70%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.temp {
  font-weight: bolder;
  font-size: 150px;
  word-spacing: -40px;
}

.deg {
  position: relative;
  bottom: 20px;
  font-size: 80px;
}

.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city {
  font-weight: bold;
  font-size: 70px;
}

.current {
  align-self: flex-start;
}

/*----------------------------------------------------------*/

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  overflow: hidden;
  text-shadow: 2px 2px 6px #000000;
}

.header {
  padding: 20px;
  width: 90%;
}

.search {
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

#button {
  visibility: hidden;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}

.rightnow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightnow h2 {
  font-size: 32px;
}

.description {
  text-transform: uppercase;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  font-family: "Oswald";
}

.info {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: "Oswald";
}

.info span {
  text-transform: uppercase;
  font-family: "Oswald";
}

/*-----------------------------------------------------------*/

@media screen and (max-width: 1250px) {
  .temp {
    font-size: 120px;
    word-spacing: -30px;
  }
}

@media screen and (max-width: 900px) {
  .city {
    font-size: 40px;
  }

  .temp {
    word-spacing: -40px;
  }

  .main-info {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    height: 100%;
  }

  .header {
    width: 100%;
  }
  .left {
    height: 80vh;
  }

  .city {
    font-size: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .temp {
    word-spacing: -40px;
  }

  .main-info {
    flex-direction: column;
    justify-content: center;
  }
}
